@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
    font-family: 'Jaldi', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: hsla(46, 73%, 75%, 1);
    background: linear-gradient(90deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);
    color: #283644;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 70px;
    color: rgb(144, 185, 117);
}

p {
    font-size: 20px;

}

button {
    background-color: rgb(144, 185, 117);
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 11px;
    font-size: 16px;
    color: white;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #a5b8ca;
    outline: 0;
}

input[type="number"],
input[type="search"],
input[type="text"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #8f8d8d;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin: 10px;
}

.search-countries {
    float: left;
}

.sortBtn {
    float: left;
}

.search, .addCountry, .addFlag {
    text-transform: capitalize;
}

.errorMessage {
    text-align: center;
    color: rgb(231, 50, 87);
    font-size: 22px;
    font-weight: bold;
}

.displayCountries {
    padding: 0 0 0 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formatCountries {
    height: 38px;
    padding: 10px 2px;
    border: 2px solid rgb(144, 185, 117);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    width: 15%;
    font-size: 25px;
}

.left {
    float: left;
}